.container {
  background-color: #fefefe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 auto;
  padding: 0;
  height: 90%;
  max-height: 95vh;
  border-radius: 5px;
}

.app-name {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px 0;
  color: #f9f9f9;
  background-color: #f87162;
}
